version: '3'

volumes:
    api-php-redis:
        driver: local

services:

    app:
        build: .
        volumes:
            - .:/usr/share/nginx/html
        working_dir: /usr/share/nginx/html

    nginx:
        image: nginx
        ports:
            - "80:80"
        links:
            - app
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
            - .:/usr/share/nginx/html

    redis:
        image: redis
        ports:
            - "6379:6379"
        volumes:
            - api-php-redis:/data
        command: redis-server